* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000ed;
}
:root {
  --text--color: rgb(0, 114, 206);
}
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-bar {
  width: 95%;
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
}
.menu-list {
  flex: 1;
  text-align: right;
  transition: 0.3s;
}
nav ul {
  background: transparent;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
nav ul li a:hover {
  color: #ff3527;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  padding: 50px;
  animation: introAnimation 1s ease-out forwards;
}
@keyframes introAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.Controller {
  animation: slideFromRight 1s ease-out forwards;
}

.add-Btn {
  animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero-content {
  font-size: 3rem;
  flex-basis: 40%;
  position: relative;
}
.hero-content h2 {
  color: var(--text--color);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffffed;
}
.hero-content p {
  color: #ff3527;
  margin: 15px 0;
  font: 1em sans-serif;
  font-family: "dm-sans-serif", sans-serif;
  font-weight: 600;
}
.hero-content h3 {
  font-size: 2rem;
  color: #ffffffed;
  font-weight: 600;
  margin: 20px 0 10px;
}
.hero-content b {
  color: #ff3527;
  font-family: "dm-sans-serif", sans-serif;
}
.hero-content h4 {
  font: 1em sans-serif;
  font-family: DM_SansSerif, Cons;
  font-weight: 400;
  margin: 10px 0;
  color: #ff3527;
}
button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  color: #fff;
  outline: none;
  background: linear-gradient(to right, #fb5383, #ff3527);
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.5s;
}
button img {
  width: 30px;
  display: none;
}
button:hover img {
  display: inline-block;
  background-color: transparent;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content::after {
  content: "";
  width: 10px;
  height: 60%;
  background: linear-gradient(#ff5383, #ff3527);
  position: absolute;
  left: -40px;
  top: 10px;
}
.hero-row {
  position: relative;
  display: flex;
  align-items: center;
}
.hero-row .Controller {
  width: 80%;
  cursor: pointer;
}
.add-Btn img {
  width: 55px;
  margin-bottom: 5px;
}
.add-Btn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
}
.Social-icons {
  text-align: center;
}
.Social-icons img {
  width: 40px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}
.img-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.ps4-Slim,
.ps4-pro {
  height: 600px;
  object-fit: contain;
}
.row-txt {
  font-size: 5em;
  color: var(--text--color);
}

@media only screen and (max-width: 768px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#ff5383, #ff3527);
    border: none;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.3s ease;
    top: 70px;
    left: 2px;
    z-index: 999;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    font-style: italic;
  }
  nav ul li a {
    background: transparent;
  }
  nav ul li a:hover {
    color: #ff3527;
  }
  .add-Btn img {
    width: 35px;
    margin-bottom: 5px;
  }
  .menu-icon {
    display: block;
  }
  .hero-row {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .hero-row .img {
    width: 77%;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
    flex-basis: 100%;
    font-size: 1em;
  }
  .Social-icons {
    flex: 1;
  }
}
@media only screen and (max-width: 450px) {
  nav ul {
    width: 100%;
    background: linear-gradient(#ff5383, #ff3527);
    text-align: center;
    border: none;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.3s ease;
    top: 67px;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    animation: introAnimation 1s ease-out forwards;
  }
  .hero-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .add-Btn {
    margin-top: 30px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }
  .hero-row .Controller {
    margin-top: 40px;
    margin-left: -70px;
    width: 77%;
    cursor: pointer;
    max-width: 100%;
    max-height: auto;
  }
  .hero-content::after {
    content: "";
    width: 10px;
    height: 60%;
    background: linear-gradient(#ff5383, #ff3527);
    position: absolute;
    left: -20px;
    top: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .hero-content {
    font-size: 10px;
  }
}
@media only screen and (max-width: 990px) {
  .hero-content {
    font-size: 2px;
  }
  .Controller {
    width: 100%;
    cursor: pointer;
  }
}
